<mat-card class="menu-month">
    <mat-form-field class="menu-month__input" appearance="fill">
        <mat-label>{{ idiom.name }}</mat-label>
        <mat-select [formControl]="myControl">
            <mat-option *ngFor="let option of namePlayerOptions " [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="menu-month__input" appearance="fill" *ngIf="myControl.value">
        <mat-label>{{ idiom.monthAndYear }}</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)"
        panelClass="example-month-picker">
    </mat-datepicker>
    </mat-form-field>

    <button mat-button color="primary" (click)="buscar()" [disabled]="!date.value">
        {{ idiom.btnSearh }}
    </button>
</mat-card>

<div class="container-table">

    <mat-card>
        <app-line-chart [data]="storyLabels"></app-line-chart>
    </mat-card>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="lastUpdate" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.Date }} </th>
            <td mat-cell *matCellDef="let element; index as i ">
                <button mat-button color="primary">
                    {{element.lastUpdate}}
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="totalSLP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.totalSLP }} </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSLP}} </td>
        </ng-container>

        <ng-container matColumnDef="todaySLP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.todaySLP }} </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'container-table__min': element.todaySLP <= 50,
                    'container-table__middle': element.todaySLP > 50 && element.todaySLP < 75,
                    'container-table__max': element.todaySLP >= 75}">{{element.todaySLP}} </td>
        </ng-container>

        <ng-container matColumnDef="yesterdaySLP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{idiom.yesterdaySLP}} </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'container-table__min': element.yesterdaySLP <= 50,
            'container-table__middle': element.yesterdaySLP > 50 && element.yesterdaySLP < 75,
            'container-table__max': element.yesterdaySLP >= 75}"> {{element.yesterdaySLP}} </td>
        </ng-container>

        <ng-container matColumnDef="monthSLP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.monthSLP }} </th>
            <td mat-cell *matCellDef="let element"> {{element.monthSLP}} </td>
        </ng-container>
        
        <ng-container matColumnDef="weekSLP">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.weekSLP }} </th>
            <td mat-cell *matCellDef="let element"> {{element.weekSLP}} </td>
        </ng-container>

        <ng-container matColumnDef="monthlyRank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.monthlyRank }} </th>
            <td mat-cell *matCellDef="let element"> {{element.mounthlyRank}} </td>
        </ng-container>

        <ng-container matColumnDef="MMR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MMR </th>
            <td mat-cell *matCellDef="let element">{{element.MMR}}🏆</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>