
<mat-card class="date-picker" [class.date-picker__dark]="dark">
  <mat-form-field appearance="fill" [class.date-picker__dark-field]="dark">
    <mat-label [class.date-picker__dark-field]="dark">{{ idiom.monthAndYear }}</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="myControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-card>

<mat-form-field appearance="outline" class="container-table__filter" [class.container-table__filter-dark]="dark">
  <mat-label [class.container-table__text-dark]="dark">{{ idiom.label }}</mat-label>
  <input matInput (keyup)="filterName($event)" placeholder="Nombre de un becado" #input>
</mat-form-field>

<div class="container-table" [class.container-table__dark-table]="dark">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">  
    <ng-container class="container-table__name" matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.name }} </th>
      <td mat-cell *matCellDef="let element; index as i ">
        <button mat-button color="primary">
          {{element.name}}
        </button>
      </td>
    </ng-container>

      <ng-container matColumnDef="totalSLP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.totalSLP }} </th>
        <td mat-cell *matCellDef="let element"> {{element.inGameSLP}} </td>
      </ng-container>

      <ng-container matColumnDef="todaySLP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.todaySLP }} </th>
        <td mat-cell *matCellDef="let element" 
            [ngClass]="{'container-table__min': element.todaySLP <= 50,
                      'container-table__middle': element.todaySLP > 50 && element.todaySLP < 75,
                      'container-table__max': element.todaySLP >= 75}">{{element.todaySLP}} </td>
      </ng-container>
    
      <ng-container matColumnDef="yesterdaySLP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.yesterdaySLP }} </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'container-table__min': element.yesterdaySLP <= 50,
            'container-table__middle': element.yesterdaySLP > 50 && element.yesterdaySLP < 75,
            'container-table__max': element.yesterdaySLP >= 75}"> {{element.yesterdaySLP}} </td>
      </ng-container>
      
      <ng-container matColumnDef="monthSLP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.monthSLP }} </th>
        <td mat-cell *matCellDef="let element"> {{element.monthSLP}} </td>
      </ng-container>
      
      <ng-container matColumnDef="monthlyRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ idiom.monthlyRank }} </th>
        <td mat-cell *matCellDef="let element"> {{element.mounthlyRank}} </td>
      </ng-container>
    
      <ng-container matColumnDef="MMR">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MMR </th>
        <td mat-cell *matCellDef="let element">{{element.MMR}}🏆</td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
