<div class="axies-module">
    <div class="axies-module__title">
        <p class="axies-module__name-axie">{{ axie.name }}</p>
        <p class="axies-module__opacity axies-module__breed" >
           {{ axie.namePlayer }}<i class="cf cf-eth" *ngIf="axie.auction"></i>
        </p>
        <p class="axies-module__opacity axies-module__breed" >
            Breed count: {{ axie.breedCount }}
        </p>
        <div *ngIf="axie.class != null"  
            class="axies-module__class" 
            [ngClass]="{'axies-module__Plant': axie.class === 'Plant',
                        'axies-module__Aquatic': axie.class === 'Aquatic',
                        'axies-module__Bird': axie.class === 'Bird',
                        'axies-module__Dawn': axie.class === 'Dawn',
                        'axies-module__Mech': axie.class === 'Mech',
                        'axies-module__Reptile': axie.class === 'Reptile',
                        'axies-module__Beast': axie.class === 'Beast',
                        'axies-module__Bug': axie.class === 'Bug',
                        'axies-module__Dusk': axie.class === 'Dusk' }">
            <img class="axies-module__img-class" 
                src="assets/svg/axies/{{axie.class}}/{{axie.class}}.svg"  alt="">
        </div>
    </div>
    <div class="axies-module__content">
        <a class="axies-module__content-a" 
            href="https://marketplace.axieinfinity.com/axie/{{axie.id}}"
            target="__blanck">
            <img class="axies-module__content-img" 
            [src]="axie.image" alt="">
        </a>
    </div>

    <div class="axies-module__footer-stast" [class.axies-module__footer-egg]="axie.class === null">
        <app-stast-axie *ngIf="axie.class != null" [stast]="[axie.hp, axie.speed, axie.skill, axie.morale]" [list]="false"></app-stast-axie>
    </div>

    <div class="axies-module__footer-price" [class.axies-module__footer-refesh]="axie.price === 'N/A'" (click)="refreshNA()">
        <div class="axies-module__price axies-module__price--left">
            <p class="axies-module__opacity">$ {{ axie.price }}</p>
        </div>
        <div class="axies-module__price axies-module__price--rigth">
            <p class="axies-module__opacity"><i class="cf cf-eth"></i> {{ axie.eth }}</p>
        </div>
        <div class="axies-module__footer-tooltip" *ngIf="axie.price === 'N/A'">
            <p class="axies-module__footer-text">Recalcular Precio</p>
        </div>
    </div>
</div>
