@import "../../colors.module"
.container-table
    width: 100%
    padding: 5px 20px 0px 20px
    box-sizing: border-box
    &__icon-add
        position: absolute
        top: 50%
        transform: translateY(-50%)
    &__name
        min-width: 150px
    &__colum-axies
        min-width: 270px
        position: relative
    &__colum-cryto
        min-width: 100px
        position: relative
    &__load
        width: 50px
        height: 50px
        background: #dedede
        overflow: hidden
    &__load-dark
        background: $difBack-dark
    &__img-cryto
        width: 20px
        position: relative
        top: 4px
    &__img
        width: 70px
    &__img-weth
        position: relative
        font-size: 20px
        top: 4px
    &__dark-table
        background: $difBack-dark
    &__text-dark
        color: $color-dark
    &__filter-dark
        ::ng-deep .mat-form-field-outline 
            color: $hover-dark 
        ::ng-deep  .mat-form-field-outline-thick, ::ng-deep .mat-input-element 
            color: $color-dark

.paginator
    width: calc(100% - 40px)
    margin: 0px 20px
    box-sizing: border-box
    &__dark
        background: $difBack-dark
        color: $color-dark
        ::ng-deep .mat-select-value
            color: $color-dark
        ::ng-deep .mat-select-arrow 
            color: $color-dark

table
    width: 100%

@media screen and(max-width: 700px)
    .container-table
        padding: 0px
        overflow: hidden
        overflow-x: scroll
    table
        width: 100%
        margin-left: 0px
    .paginator
        width: 100%
        margin: 0px