.content-axies
    display: flex
    &__content
        width: calc(100% - 265px)
        min-height: calc(100vh - 64px)
        box-sizing: border-box

.menu-axies
    width: 260px
    height: calc(100vh - 64px)
    margin-right: 5px 
    padding: 5px
    overflow-y: scroll
    box-sizing: border-box
    &__title-p
        padding: 5px 0px
        font-size: 24px
        font-weight: 500
    &__options
        width: calc( 100% - 18px )
        margin: 0px 9px
    &__option
        width: 50%
    &__filters-menu
        padding: 0px 9px
    &__section-checks
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__check
        width: 50%
        box-sizing: border-box
    &__check-img
        width: 16px
        position: relative
        display: inline-block
        top: 3px 
    &__label
        display: block
        margin: 5px 0px
    &__breed-select
        margin: 5px 5px
    &__parts
        width: 100%
    &__cards
        width: 100%
        text-align: center
        align-self: center
    &__btn
        width: 100%
        margin: 10px 0px
    &__input--name
        width: 100%
    &__filters-title
        display: flex
        justify-content: space-between
    &__general-off
        display: none

.portafolio
    width: calc(100% - 40px)
    display: flex
    flex-wrap: wrap
    margin: 5px 20px
    box-sizing: border-box
    &__totals
        width: 100%
        display: flex
        justify-content: space-between
    &__img
        width: 24px
    &__totals--icons
        padding: 0px 10px
        margin-top: 12px

.loading
    width: calc(100% - 40px)
    margin: 5px 20px
    height: 160px
    font-size: 15px
    background:#28364b
    overflow: hidden

.axies-module
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 5px 5px
    padding: 20px
    height: calc(100vh - 121px)
    overflow-y: scroll
    box-sizing: border-box

.axie-list
    width: 100% 
    height: calc(100vh - 121px)
    overflow-y: scroll
    box-sizing: border-box

.menu-change
    width: calc(100% - 40px)
    margin-left: 20px 
    display: flex
    justify-content: space-between
    padding: 10px
    box-sizing: border-box
    &__btn-filter
        display: none

@media screen and (max-width: 700px)
    .menu-axies
        width: 100%
        position: relative
        &__hidden
            display: none
            position: absolute
            top: 53px
            z-index: 10
    .content-axies
        &__content
            width: 100%
    .menu-change
        &__btn-filter-list
            display: block

@media screen and (max-width: 580px) 
    .axies-module
        padding: 0px