<div class="container-axies">
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let axies of axiesData; index as i">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ axies.name }}
                </mat-panel-title>

                <mat-panel-description class="container-axies__description">
                    Type your name and age
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel 
                multi
                class="container-axies__sub-panels"
                *ngFor="let partsAxies of axiesData[i].axiesParts">
                <mat-expansion-panel-header class="container-axies__sub-description">
                    <mat-panel-title>
                        {{ partsAxies.axies.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ partsAxies.axies.class }}
                        <div *ngFor="let typesAxies of svgIcons">
                            <svg *ngIf="partsAxies.axies.class === typesAxies.typesClass" 
                                height="24" width="24" 
                                [attr.stroke]="typesAxies.colorStroke"  
                                [attr.fill]="typesAxies.colorFill">
                                <path [attr.d]="typesAxies.dValue"/>
                            </svg>
                        </div>
                    </mat-panel-description>
                    <div></div>
                </mat-expansion-panel-header>
                
                <div class="container-axies__expasion">
                    <div class="container-axies__sub-content">
                        <img class="container-axies__sub-img" [src]="partsAxies.axies.image">
                        <div class="container-axies__sub-stast">
                            <p>hp: {{ partsAxies.stats.hp }}</p>
                            <p>speed: {{ partsAxies.stats.speed }}</p>
                            <p>skill: {{ partsAxies.stats.skill }}</p>
                            <p>morale: {{ partsAxies.stats.morale }}</p>
                        </div>
                    </div>
    
                    <div class="container-axies__sub-parts">
                        <div *ngFor="let parts of partsAxies.parts">
                            <div *ngFor="let partsAxie of partsAxie">
                                <svg *ngIf="parts.class === partsAxie.typePartAxie && 
                                parts.type === partsAxie.typePart" 
                                height="24" width="24">
                                <path *ngFor="let svg of partsAxie.svgParts; index as inde"
                                    [attr.fill]="partsAxie.color[inde]"
                                    [attr.d]="svg"/>
                            </svg>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>

        </mat-expansion-panel>
    </mat-accordion>
</div>