.menu-axies
    width: 100%
    padding: 5px
    box-sizing: border-box
    &__content
        width: 100%
        display: flex
        padding: 20px
        justify-content: space-between
        background: #fff
        border-radius: 15px
        box-sizing: border-box
    &__cards
        width: 40%
        height: 52px
        box-sizing: border-box
    &__btn
        height: 51px
        margin: .25em 0
    &__btn--type
        display: flex
        justify-content: space-between
        align-items: center
    &__btn-img
        width: 17px
    &__input--name
        width: 20%
        height: 52px
        box-sizing: border-box

.container-axies
    min-height: 200px
    padding: 20px
    &__description
        justify-content: space-between
        align-items: center
    &__expasion
        display: flex
        padding: 10px
    &__sub-content
        width: 50%
        height: 25%
        position: relative
        display: flex
        flex-direction: column
        align-items: center
    &__egg
        width: 100%
    &__sub-img
        width: 50%
    &__egg-img
        width: 25%
    &__sub-stast
        width: 40%
        display: flex
        justify-content: space-between
    &__icons-stast
        display: flex
    &__icon-text
        padding: 4px
        font-family: 16px
        margin: 0
    &__parts
        width: 50%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        border-radius: 15px
        padding: 20px
        background: #afafaf
    &__sub-parts
        width: 30%
        display: flex
        align-items: center
        flex-direction: column
    &__parts-img
        width: 40%
    &__loading
        width: 100%
        height: 160px
        font-size: 15px
        background:#28364b
    &__price
        position: absolute
        left: 3px
        top: 3px
    &__icon-usd
        color: #07cf18
    &__icon-eth
        color: #5e5e5e
    &__price-content
        display: flex

.portafolio
    width: calc(100% - 40px)
    padding: 10px 24px
    display: flex
    flex-wrap: wrap
    background: #fff
    margin-left: 20px
    border-radius: 15px
    box-sizing: border-box
    &__totals
        width: 100%
        display: flex
        justify-content: space-between
    &__img
        width: 24px
    &__totals--icons
        margin-top: 12px