.menu-axies
    width: calc( 100% - 40px )
    margin: 5px 20px
    box-sizing: border-box
    &__title-h2
        margin: 0
    &__filters-menu, &__btn--type
        display: flex
        justify-content: space-between
    &__cards
        width: 40%
    &__btn--type
        align-items: center
    &__btn
        height: 51px
        margin: .25em 0
    &__btn-img
        width: 17px
    &__input--name
        width: 20%
        height: 52px
        box-sizing: border-box

.portafolio
    width: calc(100% - 40px)
    display: flex
    flex-wrap: wrap
    margin-left: 20px
    box-sizing: border-box
    &__totals
        width: 100%
        display: flex
        justify-content: space-between
    &__img
        width: 24px
    &__totals--icons
        padding: 0px 10px
        margin-top: 12px

.loading
    width: calc(100% - 40px)
    margin: 5px 20px
    height: 160px
    font-size: 15px
    background:#28364b
    overflow: hidden

.axies-module
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 5px 5px
    padding: 20px
    margin-bottom: 5px
    box-sizing: border-box

.axie-list
    margin-bottom: 5px

.menu-change
    width: calc(100% - 40px)
    margin-left: 20px 
    display: flex
    justify-content: space-between
    padding: 10px
    box-sizing: border-box