<div class="historial">
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Total Earned</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">{{ earned }}</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        {{ slpPrice * earned }}
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Best pvp</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">{{ bestPvp }}</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        1112.7$ falta llenar
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Total Scholar</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">9278</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        1112.7$
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Total Unclaimed</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">{{ unclaimed }}</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        {{ slpPrice * unclaimed }}
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Total Claimed</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">{{ claimed }}</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        {{ slpPrice * claimed }}
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Yesterday total</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">9278</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        1112.7$
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Partial Today</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">9278</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        1112.7$
      </mat-card-content>
    </mat-card>
    <mat-card class="historial__card">
      <mat-card-title-group>
        <mat-card-title class="historial__title">Total Avarage</mat-card-title>
        <mat-card-subtitle class="historial__sub-title">9278</mat-card-subtitle>
        <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
      </mat-card-title-group>
      <mat-card-content class="historial__total">
        1112.7$
      </mat-card-content>
    </mat-card>
  </div>
