.container-axies
    min-height: 48px
    padding: 0px 20px
    &__description
        justify-content: space-between
        align-items: center
    &__expasion
        display: flex
        padding: 10px
    &__sub-content
        width: 50%
        height: 25%
        position: relative
        display: flex
        flex-direction: column
        align-items: center
    &__icon-price
        display: flex
    &__price-panel
        margin: 0px 3px
    &__egg
        width: 100%
    &__a
        display: block
        width: 100%
        display: flex
        justify-content: center
    &__sub-img
        width: 50%
    &__egg-img
        width: 25%
    &__sub-stast
        width: 40%
        display: flex
        justify-content: space-between
    &__icons-stast
        display: flex
    &__icon-text
        padding: 4px
        font-family: 16px
        margin: 0
    &__parts
        width: 50%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        border-radius: 15px
        padding: 20px
        background: #afafaf
    &__sub-parts
        width: 30%
        display: flex
        align-items: center
        flex-direction: column
    &__parts-img
        width: 40%
    &__price
        position: absolute
        left: 3px
        top: 3px
    &__icon-usd
        color: #07cf18
    &__icon-eth
        color: #5e5e5e
    &__price-content
        display: flex