.container
    background: #dedede
    &__menu-horizontal
        padding: 10px
        box-sizing: border-box
    &__btn
        width: 100%
        margin: 10px

@media screen and (max-width: 500px)
    .container
        &__menu-horizontal
            width: 100%
            padding: 20px
        &__btn
            width: 100%
            margin: 10px