table
    width: 90%
    margin-left: 5% 
    margin-bottom: 10px
.container-table
    &__min
        color: #b80202
    &__middle
        color: #abb802
    &__max
        color: #07cf18
@media screen and (max-width: 500px)
    .container-table
        width: 100%
        overflow: auto
        table
            width: 200%
            margin-left: 0px