<div class="historial">
  <mat-card class="historial__card">
    <mat-card-title-group>
      <mat-card-title class="historial__title">total Earned</mat-card-title>
      <mat-card-subtitle class="historial__sub-title">9278</mat-card-subtitle>
      <img mat-card-sm-image src="https://miro.medium.com/max/1200/0*9Ol_5j2bLb1jc5Mh.png" >
    </mat-card-title-group>
    <mat-card-content class="historial__total">
      1112.7$
    </mat-card-content>
  </mat-card>
</div>

<table mat-table [dataSource]="scholars" class="mat-elevation-z8" >  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="totalSLP">
    <th mat-header-cell *matHeaderCellDef> todaySLP </th>
    <td mat-cell *matCellDef="let element"> {{element.totalSLP}} </td>
  </ng-container>

  <ng-container matColumnDef="MMR">
    <th mat-header-cell *matHeaderCellDef> MMR </th>
    <td mat-cell *matCellDef="let element"> {{element.MMR}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>