<app-historial></app-historial>
<div class="container-table">
  <table mat-table [dataSource]="scholars" class="mat-elevation-z8" >  
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}}
        <button class="container-table__btn">
          <mat-icon>
            <a (click)="viewOneScholarHistoric(element.roninAddress)">show_chart</a>
          </mat-icon>
        </button>
      </td>
      </ng-container>

      <ng-container matColumnDef="totalSLP">
        <th mat-header-cell *matHeaderCellDef> totalSLP </th>
        <td mat-cell *matCellDef="let element"> {{element.totalSLP}} </td>
      </ng-container>

      <ng-container matColumnDef="todaySLP">
        <th mat-header-cell *matHeaderCellDef> todaySLP </th>
        <td mat-cell *matCellDef="let element"> {{element.todaySLP}} </td>
      </ng-container>
    
      <ng-container matColumnDef="yesterdaySLP">
        <th mat-header-cell *matHeaderCellDef> yesterdaySLP </th>
        <td mat-cell *matCellDef="let element"> {{element.yesterdaySLP}} </td>
      </ng-container>
      
      <ng-container matColumnDef="monthSLP">
        <th mat-header-cell *matHeaderCellDef> monthSLP </th>
        <td mat-cell *matCellDef="let element"> {{element.monthSLP}} </td>
      </ng-container>
      
      <ng-container matColumnDef="monthlyRank">
        <th mat-header-cell *matHeaderCellDef> monthlyRank </th>
        <td mat-cell *matCellDef="let element"> {{element.mounthlyRank}} </td>
      </ng-container>
    
      <ng-container matColumnDef="MMR">
        <th mat-header-cell *matHeaderCellDef> MMR </th>
        <td mat-cell *matCellDef="let element">{{element.MMR}}🏆</td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>