<div class="genes">
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.eyes.d.cls}}/{{axieGenes.genes.eyes.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.eyes.d.name}}</p>
        <p>{{axieGenes.genes.eyes.r1.name}}</p>
        <p>{{axieGenes.genes.eyes.r1.name}}</p>
    </div>
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.ears.d.cls}}/{{axieGenes.genes.ears.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.ears.d.name}}</p>
        <p>{{axieGenes.genes.ears.r1.name}}</p>
        <p>{{axieGenes.genes.ears.r1.name}}</p>
    </div>
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.back.d.cls}}/{{axieGenes.genes.back.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.back.d.name}}</p>
        <p>{{axieGenes.genes.back.r1.name}}</p>
        <p>{{axieGenes.genes.back.r1.name}}</p>
    </div>
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.horn.d.cls}}/{{axieGenes.genes.horn.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.horn.d.name}}</p>
        <p>{{axieGenes.genes.horn.r1.name}}</p>
        <p>{{axieGenes.genes.horn.r1.name}}</p>
    </div>
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.mouth.d.cls}}/{{axieGenes.genes.mouth.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.mouth.d.name}}</p>
        <p>{{axieGenes.genes.mouth.r1.name}}</p>
        <p>{{axieGenes.genes.mouth.r1.name}}</p>
    </div>
    <div class="genes__parts">
        <img src="assets/svg/axies/{{axieGenes.genes.tail.d.cls}}/{{axieGenes.genes.tail.d.type}}.svg" alt="">
        <p>{{axieGenes.genes.tail.d.name}}</p>
        <p>{{axieGenes.genes.tail.r1.name}}</p>
        <p>{{axieGenes.genes.tail.r1.name}}</p>
    </div>
</div>