@import "../../../colors.module"
.menu-month
    width: 90%
    margin: 5px 0px 5px 5%
    box-sizing: border-box
    &__dark
        background: $difBack-dark
        ::ng-deep .mat-button.mat-primary.mat-button-disabled
            color: $hover-dark
    &__dark-btn
        color: white
    &__dark-field
        color: $color-dark
        ::ng-deep .mat-button-wrapper
            color: $color-dark

.container-table
    width: 90%
    margin-left: 5% 
    table
        margin-top: 20px
        width: 100%
        
        margin-bottom: 10px
    &__min
        color: #b80202
    &__middle
        color: #abb802
    &__max
        color: #07cf18
    &__btn
        position: absolute
        right: 25px
    &__btn-img
        width: 28px
    &__dark
        background: $difBack-dark
    &__text-dark
        color: $color-dark


@media screen and (max-width: 500px)
    .container-table
        width: 100%
        overflow: auto
        table
            width: 200%
            margin-left: 0px