<div class="container">
    <section class="container__seption">
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/general-total.png" alt="">
        </div>
    </section>

    <section class="container__seption">
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/general.png" alt="">
        </div>
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
    </section>

    <section class="container__seption">
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/axies-min-2.PNG" alt="">
        </div>
    </section>

    <section class="container__seption">
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/historico-academia-dia-detalle-min.png" alt="">
        </div>
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
    </section>

    <section class="container__seption">
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/historico-becado-min.png" alt="">
        </div>
    </section>

    <section class="container__seption">
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/reporte-general-min.PNG" alt="">
        </div>
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
    </section>

    <section class="container__seption">
        <div class="container__text">
            <h2 class="container__title">titulo</h2>
            <p class="container__text-line"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, 
                blanditiis vel. Vitae illum dolore totam maiores earum. Modi eaque 
                est laboriosam adipisci voluptate cum delectus, repudiandae velit
                natus, alias similique?</p>
        </div>
        <div class="container__img-content">
            <img class="container__img" src="../../assets/ladingPage/perfiles.png" alt="">
        </div>
    </section>
</div>
