.container
    width: 100%
    background: url('../../assets/img/background-axie.jpeg')
    background-repeat: no-repeat
    &__seption
        width: 80%
        height: 30vh
        background: red
        margin-bottom: 300px
        z-index: 50