<div class="canvas">
    <div class="canvas__options">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="canvas__title-menu">
                    <mat-icon class="canvas__icon-menu">sort</mat-icon>
                    <div>
                        <p class="canvas__title">Filtros</p>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>

                <mat-accordion>
                    <mat-expansion-panel [expanded]="dateHide === 0" (opened)="openCloseMenu(0)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Filtre por fechas
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input [formControl]="dateStart" matStartDate placeholder="Start date">
                            <input [formControl]="dateEnd" matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-action-row>
                        <button mat-button 
                                color="primary" (click)="historicMonth()">Buscar</button>
                        <button mat-button
                                (click)="openCloseMenu(2)"
                                color="warn">Cancelar</button>
                    </mat-action-row>

                    </mat-expansion-panel>
                </mat-accordion>

                <mat-accordion>
                    <mat-expansion-panel [expanded]="dateHide === 1" (opened)="openCloseMenu(1)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Filtre por jugador
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <form [formGroup]="formNameUser">

                        <div class="canvas__inputs" formArrayName="nameScholar" *ngFor="let name of nameScholar.controls; index as i">
                            <div class="canvas__icon-add" (click)="addNewControlName()">
                                <mat-icon (click)="addInput = true">add_circle</mat-icon>
                            </div>
                            
                            <div [formGroupName]="i">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre becado</mat-label>
                                    <input type="text"
                                        #inputUser
                                        placeholder="Escoja un becado"
                                        formControlName="inputScholar"
                                        aria-label="Seleccione un Nombre"
                                        matInput
                                        [matAutocomplete]="auto"
                                        (focus)="filterOpntions(i)">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="canvas__icon-add" *ngIf="i != 0">
                                <mat-icon (click)="addInput = true" (click)="removeControlName(i)">remove_circle</mat-icon>
                            </div>
                        </div>

                    </form>

                    <mat-action-row>
                        <button mat-button color="primary" (click)="hictoricMultPlayers()">Buscar</button>
                        <button mat-button color="warn" (click)="openCloseMenu(2)">Cancelar</button>
                    </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="canvas__container mat-elevation-z8">
        <canvas #ctx class="canvas__chart"></canvas>
    </div>
</div>
