#pdf
    display: block

.container-table
    width: 100%
    padding: 20px
    box-sizing: border-box
    table
        width: 100%
        margin: 5px
        border: 1px solid #000
    &__head
        width: 100%
        margin: 5px
        display: flex
        justify-content: space-between
        border: 1px solid #000
        box-sizing: border-box
    &__title
        display: flex
        height: 80px
        justify-content: center
        align-items: center
        position: relative
    &__name-community
        height: 30px
        margin: 0px
    &__logo
        position: absolute
        left: 0
    &__p
        margin: 0px
    &__icon
        width: 24px
    &__footer
        display: flex
        justify-content: space-between
        align-items: center
    &__url
        color: #3f51b5
        height: 18px
        margin: 0px
    &__disclaimer
        text-align: center
        box-sizing: border-box
    &__disclaimer-text
        font-weight: bold 200
    &__disclaimer-title
        display: flex
        justify-content: center
        align-items: center
        height: 32px
        box-sizing: border-box
    &__disclaimer-aviso
        margin: 0px
