<div #screen id="pdf">
    <div class="container-table">
        <div class="container-table__title">
            <div class="container-table__logo">
                <img src="assets/img/logoaxie.webp" alt="">
            </div>
            <h2 (click)="donwloadPdf()" class="container-table__name-community">{{ comunity.activeCommunity.name }}</h2>
            <div class="container-table__date">
                <p>{{ fecha }} {{ hora }}</p>
            </div>
        </div>
        
        <mat-card class="container-table__head">
            <p class="container-table__p">Total Axies: {{ contentpdf.totalAxie }}</p>
            <p class="container-table__p">Total Becados: {{ contentpdf.totalbecados }}</p>
            <p class="container-table__p">Aproxidamo en usd: <span class="container-table__icon-usd">$</span> {{ contentpdf.totalPortafolio }}</p>
            <p class="container-table__p">Aproxidamo en eth: <i class="cf cf-eth"></i> {{ contentpdf.totalPortafolioEth }}</p>
            <p class="container-table__p">Total N/A: {{ contentpdf.totalNa }}</p>
            <p class="container-table__p">Total Egg: {{ contentpdf.totalEgg }}</p>
        </mat-card>
        
        <table mat-table [dataSource]="dataSource" matSort>  
            <ng-container matColumnDef="Tipo" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary">
                        <img src="assets/svg/axies/{{element.type}}/{{element.type}}.svg" class="container-table__icon" alt="">
                        {{ element.type }}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let element"> {{ element.totalType }} </td>
            </ng-container>

            <ng-container matColumnDef="Usd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usd </th>
                <td mat-cell *matCellDef="let element"> <span class="container-table__icon-usd">$</span> {{ element.totalUsd }} </td>
            </ng-container>

            <ng-container matColumnDef="Eth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eth </th>
                <td mat-cell *matCellDef="let element"> <i class="cf cf-eth"></i> {{ element.tototalEth }} </td>
            </ng-container>

            <ng-container matColumnDef="Valor Promedio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Promedio </th>
                <td mat-cell *matCellDef="let element"> {{ element.averageValue }} </td>
            </ng-container>

            <ng-container matColumnDef="Valor Minimo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Minimo </th>
                <td mat-cell *matCellDef="let element"> {{ element.minValue }} </td>
            </ng-container>

            <ng-container matColumnDef="Valor Maximo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Maximo </th>
                <td mat-cell *matCellDef="let element"> {{ element.maxValue }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="container-table__footer">
            <div class="container-table__url">
                espacio para la url
            </div>

            <button mat-raised-button color="warn">Gift me a coffee</button>
        </div>

        <mat-card class="container-table__price">
            <p>Slp: {{ crytoPrice.slp }}$</p>
            <p>Axs: {{ crytoPrice.axs }}$</p>
            <p>Ethereum: {{ crytoPrice.etherium }}$</p>
        </mat-card>

        <div class="container-table__disclaimer">
            <div class="container-table__disclaimer-title">
                <mat-icon class="container-table__disclaimer-icon">warning</mat-icon>
                <h1 class="container-table__disclaimer-aviso">Aviso</h1>
                <mat-icon class="container-table__disclaimer-icon">warning</mat-icon>
            </div>
            <p class="container-table__disclaimer-text">
                El valor del portafolio depende del valor actual del eth,
                esto puede causar variantes de precios a lo largo del tiempo.
            </p>
        </div>
    </div>
</div>