<div class="modal-form" [class.view-modal]="!viewModal">
    <form [formGroup]="formBecado" class="form-becado">
        <div class="form-becado__title">
            <h1>Registro de Becados</h1>
            <img src="../../assets/img/becado.png" alt="">
        </div>

        <div class="form-becado__condicion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero 
                voluptatibus eveniet suscipit! Error odio architecto dolore provident.
                Corporis repellendus at facilis hic illo tempore nulla modi quos ab, suscipit aut?
            </p>
        </div>


        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput placeholder="Victor">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.name.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.name.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.name.hasError('required')">El campo no puede estar vacio</mat-error>
            <mat-error *ngIf="formBecado.controls.name.hasError('pattern')">Solo se permiten letras</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.apellido.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.apellido.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.apellido.hasError('required')">El campo no puede estar vacio</mat-error>
            <mat-error *ngIf="formBecado.controls.apellido.hasError('pattern')">Solo se permiten letras</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Rongin Adress</mat-label>
            <input formControlName="roninAddress" matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.roninAddress.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.roninAddress.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.roninAddress.hasError('required')">El campo no puede estar vacio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Rongin Adress Personal</mat-label>
            <input formControlName="personalAdress" matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.personalAdress.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.personalAdress.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.personalAdress.hasError('required')">El campo no puede estar vacio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Procentaje de Ganancia</mat-label>
            <input formControlName="ganancia" matInput placeholder="50%">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.ganancia.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.ganancia.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.ganancia.hasError('required')">El campo no puede estar vacio</mat-error>
            <mat-error *ngIf="formBecado.controls.ganancia.hasError('pattern')">Solo se permiten numeros y el simbolo %</mat-error>
        </mat-form-field>
        <button (click)="revisarValido()" class="form-becado__btn" mat-raised-button color="primary">Enviar</button>
        <button class="form-becado__btn" (click)="closeModal()" mat-raised-button>Cancelar</button>
    </form>
</div>
