<div class="modal-form">
    <form class="form-becado">
        <div class="form-becado__title">
            <h1>Registro de Becados</h1>
            <img src="../../assets/img/becado.png" alt="">
        </div>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Victor">
            <mat-icon matSuffix class="form-becado__off">highlight_off</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__off">highlight_off</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Rongin Adress</mat-label>
            <input matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__off">highlight_off</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Rongin Adress Personal</mat-label>
            <input matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__off">highlight_off</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>Procentaje de Ganancia</mat-label>
            <input matInput placeholder="50%">
            <mat-icon matSuffix class="form-becado__off">highlight_off</mat-icon>
        </mat-form-field>
        <button class="form-becado__btn" mat-raised-button color="primary">Enviar</button>
        <button class="form-becado__btn" mat-raised-button>Cancelar</button>
    </form>
</div>
