<div #modal class="modal-form" [class.view-modal]="!viewModal">
    <form [formGroup]="formBecado" class="form-becado" *ngIf="viewModal">
        <div class="form-becado__title">
            <h1>{{ idiom.Title }}</h1>
        </div>

        <div class="form-becado__condicion">
            <p>{{ idiom.condition }}</p>
        </div>


        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>{{ idiom.name }}</mat-label>
            <input formControlName="name" matInput placeholder="Victor">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.name.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.name.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.name.hasError('required')">{{ idiom.validRequired }}</mat-error>
            <mat-error *ngIf="formBecado.controls.name.hasError('pattern')">{{ idiom.errorString }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>{{ idiom.Lastname }}</mat-label>
            <input formControlName="apellido" matInput placeholder="Leon">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.apellido.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.apellido.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.apellido.hasError('required')">{{ idiom.validRequired }}</mat-error>
            <mat-error *ngIf="formBecado.controls.apellido.hasError('pattern')">{{ idiom.errorString }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>{{ idiom.RonginAdress }}</mat-label>
            <input formControlName="roninAddress" (blur)="roninExits()" matInput placeholder="0xa35ad70c8a0bc39a6cc73bbacfaf201fae75f2fb">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.roninAddress.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.roninAddress.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.roninAddress.hasError('required')">{{ idiom.validRequired }}</mat-error>
            <mat-error *ngIf="!formBecado.controls.roninAddress.valid && !formBecado.controls.roninAddress.hasError('required')">{{ idiom.errorExist }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>{{ idiom.RonginAdressPersonal }}</mat-label>
            <input formControlName="personalAdress" matInput placeholder="0xa35ad70c8a0bc39a6cc73bbacfaf201fae75f2fb">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.personalAdress.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.personalAdress.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.personalAdress.hasError('required')">{{ idiom.validRequired }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-becado__contenedor-inputs">
            <mat-label>{{ idiom.gain }}</mat-label>
            <input formControlName="ganancia" matInput placeholder="50%">
            <mat-icon matSuffix class="form-becado__check"
                        *ngIf="formBecado.controls.ganancia.valid">check_circle_outline</mat-icon>
            <mat-icon matSuffix class="form-becado__off" 
                        *ngIf="!formBecado.controls.ganancia.valid">highlight_off</mat-icon>
            <mat-error *ngIf="formBecado.controls.ganancia.hasError('required')">{{ idiom.validRequired }}</mat-error>
            <mat-error *ngIf="formBecado.controls.ganancia.hasError('pattern')">{{ idiom.errorNumberString }}</mat-error>
        </mat-form-field>
        <button (click)="revisarValido()" class="form-becado__btn" mat-raised-button color="primary">{{ idiom.send }}</button>
        <button class="form-becado__btn" (click)="closeModal()" mat-raised-button>{{ idiom.cancel }}</button>
    </form>
</div>
